@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,900;9..40,1000&family=Rubik:wght@400;500&family=Ubuntu+Mono:wght@400;700&display=swap");

body,
html {
	margin: 0;
	padding: 0;
	text-align: center;
	scroll-behavior: smooth;
}

::selection {
	color: seagreen;
	background-color: rgb(5, 22, 5);
	text-shadow: none;
}

/* TEXT ELEMENTS */
*,
.pure-g [class*="pure-u"] {
	font-family: "DM Sans", sans-serif;
	color: rgb(31, 46, 7);
}

[class*="pure-u"] {
	margin-top: 1em;
	display: inline-block;
}

.pure-g {
	text-align: center;
	max-width: 100%;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4 {
	margin-bottom: 0;
	margin-top: 0;
}

p {
	margin-top: 0;
}

h1 {
	font-weight: 900;
	text-shadow: 0px 0px 2px white;
}

p {
	font-weight: 500;
	color: #111;
}

code {
	display: inline-block;
	background-color: #55555515;
	border-radius: 0.5em;
	font-family: "Ubuntu Mono", monospace;
	color: #555;
	padding: 0.5em;
	margin-top: 1em;
	max-width: 90%;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

li {
	margin-top: 1em;
}

img {
	display: inline-block;
}

.icon {
	height: 0.8em;
	opacity: 50%;
	margin: 0;
	padding-left: 0.5em;
	padding-right: 0.1em;
	display: inline;
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.content {
	background-color: #ffffff00;
	text-align: center;
	position: fixed;
}

.overlay {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 12;
	background-color: #ffffff20;
	backdrop-filter: blur(6px);
	box-shadow: 0px 0px 15px #55555530;
	/* background-color: #55555555; */
	padding: 3em;
	border-radius: 0.8em;
}

.highlight {
	background-color: #0c401c30;
	color: rgb(3, 36, 36);
	font-weight: bolder;
	padding: 0.2em;
	border-radius: 0.2em;
	text-decoration: none;
	margin-left: 0.2em;
	display: inline-block;
}

select,
input,
option,
option:active,
button,
button:active,
input:active {
	background-color: #55555520;
	padding: 0.5em;
	border: none;
	border-radius: 0.5em;
	font-size: 16px;
}

.particleLabel {
	display: inline-block;
}

button:hover {
	cursor: pointer;
}

/* MEDIA RULES */

@media all and (max-width: 1280px) {
	.padded {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}

@media all and (min-width: 1280px) {
	.padded {
		padding-left: 25vw;
		padding-right: 25vw;
	}
}

.glass {
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.9),
		rgba(255, 255, 255, 0.5)
	);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
