@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
	cursor: none !important;
}

#trail-container .trail {
	pointer-events: none;
	position: absolute;
	border-radius: 50%;
	background-color: transparent;
	width: 0px;
	height: 0px;
	opacity: 1;
	transition: opacity 0.8s ease-out;
	z-index: 9999;
	box-shadow: 0 0 15px 5px rgba(64, 137, 202, 0.5);
}
.cursor {
	cursor: none;
	width: 128px;
	height: 128px;
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 0;
	z-index: 10000;
	transform: translate(-50%, -50%);
	transition: transform 0.5s ease;
	display: block; /* Always visible, removed 'display: none;' */
}

.cursor img {
	width: 100%;
	height: auto;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.cursor.hover img {
	transform: scale(1.5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #f9f9f9;
	min-height: 100vh;
	overflow-x: hidden;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 100;
}
html {
	scroll-behavior: smooth;
}

.logo {
	font-size: 2em;
	color: #359381;
	pointer-events: none;
	margin-right: 270px;
}

.navigation a {
	text-decoration: none;
	color: #359381;
	padding: 6px 15px;
	border-radius: 20px;
	margin: 0 10px;
	font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
	background: #359381;
	color: #f9f9f9;
}

.parallax {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#text {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5em;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.parallax img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
	object-fit: cover;
}

.sec {
	margin-top: 0;
	position: relative;
	background: #003329;
	padding: 100px;
}

.arrows {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-55%) translateY(30%) rotate(30deg);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	width: 60%;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.sec p {
	font-size: 1.5em;
	color: black;
	font-weight: 300;
	padding: 2rem 0;
}

.logoWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.logoWrapper img {
	width: 40%;
}

@media only screen and (max-width: 850px) {
	#text {
		padding: 0 3rem;
		font-size: 4.5em;
	}
}

@media only screen and (max-width: 600px) {
	#text {
		padding: 0 1rem;
		font-size: 4.5em;
	}
}

.secWrapper {
	padding: 2rem 3rem 4rem 3rem;
}

.glass {
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 1)
	);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.footer {
	position: relative;
	background-color: #003329;
	z-index: 100;
	width: 100%;
}

footer > img {
	width: 100%;
}
