*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #013329;
	min-height: 100vh;
	overflow-x: hidden;
}

.container {
	width: 100%;
	padding: 0 6rem 4rem 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.container > img {
	width: 90%;
	/* height: 100%; */
	object-fit: cover;
	border-radius: 10px;
}

.framecontainer {
	width: 100%;
	height: max-content;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

iframe {
	width: 100%;
	aspect-ratio: 16/9;
	border: none;
}

.iframe {
	width: 100%;
	aspect-ratio: 16/9;
	border: none;
	/* background-color: orange; */
	display: flex;
}

.footer {
	position: relative;
	background-color: #003329;
	z-index: 100;
	width: 100%;
}

footer > img {
	width: 100%;
}
