*{
    font-family: 'Red Hat Display';
    /* background-color: #d2dbc5; */

}

body{
    background-color: #d2dbc5;
}

.contentarea {
    font-size: 16px;
    text-align: center;
    margin: 0%;
    padding-top: 0%;

}
h1{
    font-family: 'Red Hat Display';
    font-weight: 400;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size: 45px;
}
.img {
    position: relative;
    /* left: 5%; */
    /* background-image: url(../images/Banner.png); */
    /* background-size: contain;
    width: 18vw;
    height: 20vh;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center; */

}

.img img{
    max-width: 250px;
    height: auto;
}


h3{
    position: absolute;
    top: 0;
    left: 44vw;
    font-weight: 300;
    font-style: italic;
    background-color: none;
    color: antiquewhite;
    /* padding-top: 0%;
    margin-top: 0%; */
}

#cameraContainer{
    position: relative;
}

#cameraContainer #frame {
    max-width: 56vw;
    height: auto;
    position: absolute;
    right: -21.5%; 
    top: -17%;
}


#video {
    border: 1px solid black;
    width: 42vw;
    height: auto;
}

#photo {
    border: 1px solid black;
    width: 40vw;
    height: auto;
}

#canvas {
    display: none;
}

.camera {
    width: 40vw;
    display: inline-block;
}

.output {
    width: 40vw;
    display: inline-block;
}

#startbutton, #backbutton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    bottom: 25px;
    padding: 13px;
    background-color: #235f22;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
    top: 10%;
}

#plant{
    position: absolute;
    width: 100px;
    height: auto;
    left: 0.5%;
    bottom: 2%;
}

#note{
    position: absolute;
    width: 250px;
    height: auto;
    right: 5%;
    top: 25%;
}

#info{
    position: absolute;
    width: 550px;
    transform:rotate(-20deg);
    height: auto;
    left: 1%;
    top: 20%;
}

#submit {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    bottom: 36px;
    padding: 13px;
    background-color: #235f22;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
}

#startbutton:hover, #backbutton:hover, #submit:hover {
    background-color: #1a4d1a;
}

#highest-confidence {
    display: inline-flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 50px; */
    bottom: 36px;
    /* padding: 5px; */
    /* background-color: #235f22; */
    /* border-radius: 0.5rem; */
    /* border: 1px solid rgba(255, 255, 255, 0.7); */
    /* font-size: 16px; */
    /* cursor: pointer; */
}

.result{
    position: absolute;
    /* left: 10%;
    top: 50%; */
    /* font-size: 19px; */
    max-width: 200px;
    top: 42%;
    right: 6%;
    color: #2e5b4c;
    font-weight: 500;
    font-size: 20px;
}

#location{
    position: absolute;
    width: 300px;
    height: auto;
    left: 3%;
    top: 65%;
}

#recycle{
    position: absolute;
    width: 200px;
    height: auto;
    right: 0%;
    top: 60%;
}

#garbage{
    position: absolute;
    width: 150px;
    height: auto;
    right: 0.9%;
    top: 58%;
}